<h3>Comment</h3>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <h4>Name:</h4>
        <%= comment.name %>
      <h4>Comment:</h4>
        <%= comment.comment %> <br>

      <%= link_to 'Edit', edit_information_comment_path(@information, comment) %>

      <%= link_to 'Del', information_comment_path(@information, comment), method: :delete %>

    </li>
  <% end %>
</ul>
<%= link_to 'Create', new_information_comment_path(@information) %>



